<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/index.css">
	<title>Versal</title>
</head>

<body>
	<div class="main">
		<div class="text">
			<p>something appear soon</p>
		</div>

		<div class="img">
			<img src="assets/bro.jpg" alt="">
		</div>

		<p class="desc">you can contact with me</p>

		<div class="img img-gif">
			<div class="flex-container">
				<img src="assets/telegramm.gif" alt="" class="gif">
				<a class="me" href="https://t.me/ArtemSav1nov" target="_blank">https://t.me/ArtemSav1nov</a>
			</div>
			<div class="flex-container">
				<img src="assets/git.gif" alt="" class="gif">
				<a class="me" href="https://github.com/ArtemkaSavinov"
					target="_blank">https://github.com/ArtemkaSavinov</a>
			</div>
		</div>
	</div>
</body>

</html>